




form{
    width: 98%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 80px 0px;
    margin-top: 100px;
    box-shadow: var(--box-shadow);
}

form h1{
    font-size:34px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-color);
    text-align: center;
}

form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    font-size:18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--grade-color-3);
    /* text-align: center; */
}

form label input{
    width: 100%;
    padding: 5px 10px;
    height: 45px;
    border: 1px solid var(--text-color);
    border-radius:4px;
    font-size:20px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-color);
    /* text-align: center; */
}
form label p{
    cursor: pointer;
    align-self:flex-end;
}
form div{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 10px;
    align-self: flex-start;
}
form div input{
    width: 16px;
    height: 16px;
}

form p{
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-color);
}
form label p{
    font-size:14px;
    color:var(--grade-color-3);
}

form a{
    color: var(--primary-color);
}
form button{
    width: fit-content;
    min-width: 180px;
    padding: 0px 20px;
    border: 40px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-size:20px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-color);
}
form button.notActive{
    background-color: var(--foreground);
    cursor: pointer;
    pointer-events: none;
}
h2 {
    width: 100%;
    padding: 10px; 
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    animation: vibrate 0.3s infinite;
    display: none;
}
h2.good{
    border: 2px solid green;
    color: green;
}
h2.okay{
    display: flex;
}

/* Vibration Animation Keyframes */
@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-1px, 1px); }
    40% { transform: translate(-1px, -1px); }
    60% { transform: translate(1px, 1px); }
    80% { transform: translate(1px, -1px); }
    100% { transform: translate(0); }
}

h2.error{
    color: red;
    border:2px solid red;
}


@media screen and (max-width: 650px) {
    form{
        width: 98%;
        max-width: 600px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 80px 0px;
        margin-top: 100px;
        box-shadow: var(--box-shadow);
    }
}