


nav{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px 0px ;
    width: 98vw;
    align-items: flex-start;
    max-width: 1300px;
}

nav h1{
    gap: 0;
    font-size:32px;
    font-family: "Kodchasan",sans-serif;
    font-weight: 600;
    /* color: var(--primary-color); */
    color: var(--primary-color);
    display: flex;
}

nav h1 strong{
    text-transform: none;
    color: var(--text-color);
    font-weight: 600;
}

nav .user_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
nav .user_info div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
nav .user_info div h1{
    gap: 0;
    font-size:40px;
    font-family: "Kodchasan",sans-serif;
    font-weight: 500;
    /* color: var(--primary-color); */
    color: var(--text-color);
    gap: 10px;
    align-items: first baseline;
}
nav .user_info div h1 strong{
    gap: 0;
    font-size:20px;
    font-family: "Kodchasan",sans-serif;
    font-weight: 500;
    /* color: var(--primary-color); */
    color: var(--text-color);
}

nav .user_info div h2{
    gap: 0;
    font-size:32px;
    font-family: "Kodchasan",sans-serif;
    font-weight: 500;
    /* color: var(--primary-color); */
    color: var(--text-color);
}


nav .user_info  button{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px;
    font-size:16px;
    font-family: "Kodchasan",sans-serif;
    font-weight: 500;
    /* color: var(--primary-color); */
    color: #fff;
    cursor: pointer;
    background-color: var(--primary-color);
}
nav .user_info div.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
nav .user_info div.row button:nth-child(2){
    width: fit-content;
}
nav ul{
    position: relative;
    display: flex;
    width: 100%;
    gap: 20px;
    overflow: auto;
    padding-bottom: 7px;
}

nav ul li{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid var(--grade-color-3);
    font-size:16px;
    /* font-family: "Kodchasan",sans-serif; */
    font-weight: 500;
    border-radius: 5px;
    height:40px;
    min-width: 200px;
    text-transform: capitalize;
    color: var(--grade-color-3);
}

nav ul li:nth-child(1){
    padding: 0px;
    min-width: 40px;
}
nav ul li a:nth-child(1){
    padding: 0px ;
}
nav ul li a{
    width: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: var(--grade-color-3);
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    padding: 20px 0px;
}

footer section{
    width: 98%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer section div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

footer div h1{
    gap: 0;
    font-size:32px;
    font-family: "Kodchasan",sans-serif;
    font-weight: 600;
    /* color: var(--primary-color); */
    color: var(--primary-color);
    display: flex;
}
footer div h1 strong{
    color: #fff;
    font-weight: 600;
    text-transform: none;
}
footer div ul{
    display: flex;
}

footer div ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
   }

   footer div ul li{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
   }
   footer a {
    color: #fff;
   }

   footer hr{
    width:100%;
    height: 2px;
    background-color:var(--foreground);
   }

   footer p{
    color: var(--foreground);
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
   }



   @media screen and (max-width : 700px) {
    nav .user_info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }
    nav ul{
        position: relative;
    }
    nav ul li{
        width: fit-content;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        justify-content:center;
        border: 1px solid var(--grade-color-3);
        font-size:16px;
        /* font-family: "Kodchasan",sans-serif; */
        font-weight: 500;
        border-radius: 5px;
        height:40px;
        min-width: 240px;
        text-transform: capitalize;
        color: var(--grade-color-3);
    }
    nav ul li:nth-child(1){
        padding: 0px;
        min-width: 40px;
    }
    nav .user_info .row button p{
        display: none;
    }
    nav .user_info div.row{
        flex-direction: row-reverse;
    }
    nav .user_info div.row button:nth-child(2){
        width: fit-content;
        padding: 0;
        width: 40px;
    }
    footer section div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    footer div ul li{
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        cursor: pointer;
       }
    footer p{
        color: var(--foreground);
        font-size: 10px;
        font-weight: 500;
        text-transform: capitalize;
       }
   }